.partner-marquee {
  display: flex;
  width: max-content;
  animation: scroll-left 20s linear infinite;
}

.partner-marquee:hover {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
